outputs/
src/models/
data/
logs/
.idea/
dgx/scripts/
.ipynb_checkpoints/
src/*jpg
notebooks/.ipynb_checkpoints/*
exps/
src/yaml_generator.py
*.tar.gz

*.zip
*.pkl
*.pyc

.DS_Store
datasets/.DS_Store
datasets/demo_edges2handbags/.DS_Store
inputs/.DS_Store
inputs/000019.jpg
inputs/000042.jpg
inputs/000045.jpg
inputs/000058.jpg
inputs/000077.jpg
inputs/000088.jpg
inputs/girl1.jpg
inputs/girl2.jpg
inputs/girl3.png
list_trainB.txt
models/
results/.DS_Store
results/MUNIT_Cos_nsgan_folder/
